#root {
    .custom-input {
        width: 420px;
        height: 50px;
        padding: 10px 14px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid rgba(222, 224, 224, 1);

        &::placeholder {
            color: rgba(106, 122, 137, 1);
        }
    }
}