#root{
    .profile-wrapper{
        display: flex;
        column-gap: 22px;
        &>.profile-info-box{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }
}