#root .login-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 238, 238);
}
#root .login-page > .login-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}
#root .login-page > .login-section > .login-title {
  font-size: 24px;
}
#root .login-page > .login-section > .login-card {
  width: 420px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#root .login-page > .login-section > .login-card > .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
#root .login-page > .login-section > .login-card > .err-msg-box {
  text-align: center;
  margin-top: 10px;
  color: red;
  font-weight: 400;
}
#root .login-page > .login-section > .login-card > .btn-box {
  margin-top: 20px;
}
#root .login-page > .login-section > .login-card > .link {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
#root .login-page > .login-section > .login-card > .link:hover {
  color: blue;
}